//
//
// Created by PhpStorm.
// User: pascal
// Date: 2019-07-16
// Time: 17:05
//

html {
    &.has-scroll-smooth {
        overflow: hidden;
    }
}

body {
    position: relative;
    @apply font-rubik-regular text-gray-500 bg-gray-950;

    &.has-scroll-smooth {
        overflow: hidden;
    }
}


// Liens
a {
    @apply .text-gray-200 .underline;

    &:hover, &:focus {
        @apply .no-underline;
    }
}

