.nuxt-content {
    li + li {
        margin-top: 0.25em;
    } // Block
    p,
    dl,
    ol,
    ul,
    blockquote,
    pre,
    table {
        &:not(:last-child) {
            margin-bottom: 1em;
        }
    }
    h1,
    h2,
    h3,
    h4,
    h5,
    h6 {
        // color: $content-heading-color;
        // font-weight: $content-heading-weight;
        // line-height: $content-heading-line-height;
    }
    h1 {
        // font-size: 2em;
        margin-bottom: 0.5em;
        &:not(:first-child) {
            margin-top: 1em;
        }
    }
    h2 {
        // font-size: 1.75em;
        margin-bottom: 0.5714em;
        &:not(:first-child) {
            margin-top: 1.1428em;
        }
    }
    h3 {
        // font-size: 1.5em;
        margin-bottom: 0.6666em;
        &:not(:first-child) {
            margin-top: 1.3333em;
        }
    }
    h4 {
        // font-size: 1.25em;
        margin-bottom: 0.8em;
    }
    h5 {
        // font-size: 1.125em;
        margin-bottom: 0.8888em;
    }
    h6 {
        // font-size: 1em;
        margin-bottom: 1em;
    }
}
