//
//
// Created by PhpStorm.
// User: pascal
// Date: 2019-07-18
// Time: 10:23
//

.btn {
    text-decoration: none;
    @apply font-rubik-medium text-sm py-2 px-4 rounded text-center inline-flex;

    &--black {
        @apply bg-black text-white border border-black;;
        // @apply bg-transparent text-black border border-black;
        transition: background-color 0.4s, border-color 0.4s;

        &:hover {
            @apply bg-transparent border border-black;
        }
    }

    &--ghost {
        @apply bg-transparent text-frost-nord-10 dark:text-current border border-frost-nord-8;
        transition: color 0.4s, border-color 0.4s;

        &:hover {
            @apply text-polarnight-nord-2 border-polarnight-nord-2 dark:text-snowstorm-nord-4 dark:border-snowstorm-nord-4;
        }
    }

    &--disabled {
        //pointer-events: none;
        @apply opacity-50 cursor-not-allowed;
        &:hover {
            @apply bg-gray-500;
        }
    }
}
