//
//
// Created by PhpStorm.
// User: pascal
// Date: 2019-07-18
// Time: 10:23
//

.btn {
    text-decoration: none;
    @apply font-rubik-medium text-sm py-3 px-5 rounded text-center inline-block;

    &--black {
        @apply bg-black text-white border border-black;;
        // @apply bg-transparent text-black border border-black;
        transition: background-color 0.4s, border-color 0.4s;

        &:hover {
            @apply bg-transparent border border-black;
        }
    }

    &--ghost {
        @apply bg-transparent text-polarnight-nord-3 border border-current;
        transition: color 0.4s, border-color 0.4s;

        &:hover {
            @apply text-frost-nord-10 border-frost-nord-10;
        }
    }

    &--disabled {
        //pointer-events: none;
        @apply opacity-50 cursor-not-allowed;
        &:hover {
            @apply bg-gray-500;
        }
    }
}
